:root {
    --color-brand: #2B7FFF;
    --color-brand-light: #FFFFFF;
    --color-brand-dark: #011C44;
    --color-secondary-dark: #747272;
    --header-background-color: #ffffff40;
}

$bp-mobile : 360px;
$bp-tablet: 768px;
$bp-desktop : 1280px;