.input {
    &__control {
    padding: 14px 24px;
    width: 260px;
    border-radius: 32px;
    font-size: 13px;
    line-height: 1.17;
    border: 2px solid var(--color-secondary-dark);
    background-color: transparent;

    @media screen and (min-width: $bp-tablet) {
        padding: 16px 42px;
        width: 100%;
    }

        &:focus {
            color: var(--color-brand-light);
            background-color: var(--color-secondary-dark);
            outline: none;
        }
    
        &:not(:focus) {
            color: var(--color-brand-light);
        }
        
        &::placeholder {
            color: var(--color-brand-light);
            font-size: 13px;
            line-height: 1.17;
        }
    }

    &__label {
        position: absolute;
        left: 42px;
        top: 16px;
    }
}