.footer-section {
    background-color: var(--color-brand-dark);
    background-image: url(../images/footer-decor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

    &__container {
        padding: 32px 90px 66px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: right bottom;
        flex-shrink: 0;

        @media screen and (min-width: $bp-tablet) {
            padding: 32px 50px;
        }
        
        @media screen and (min-width: $bp-desktop) {
            padding: 56px 100px;
            background-image: url(../images/cosmetic-bottles.svg);
        }
    }

    &__flex {
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            gap: 20px;
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
        }
    }

    &__nav,
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 42px;
        font-size: 14px;

        @media screen and (min-width: $bp-tablet) {
            gap: 20px;
            flex-direction: row;
            flex-basis: 50%;
            font-size: 14px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 16px;
        }
    }

    &__logo,
    &__nav-menu {
        flex-basis: 50%;
    }

    &__list:not(:last-child) {
        margin-bottom: 16px;
    }

    &__address {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: block;
            flex-basis: 50%;
        }
    }

    &__info {
        flex-basis: 50%;
    }

    &__info-social {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 8px;

        @media screen and (min-width: $bp-tablet) {
            display: none;
        }
    }

    &__copyright {
        color: var(--color-secondary-dark);
        font-size: 13px;
        margin-bottom: 0;
        font-style: normal;
    }
}