.header {
    position: absolute;
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
        padding: 0;
        background-color: var(--header-background-color);
        backdrop-filter: blur(5px);
    }

    &__container {
        padding: 20px 0;
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            padding: 32px 0;
        }
    }

    &__logo {
        flex-shrink: 0;
    }

    &__nav {
        width: 1239px;
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            gap: 30px;
            font-size: 18px;
            font-family: Roboto;
            justify-content: space-between;
            margin: 0;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 56px;
        }
    }

    &__burger {
        fill: var(--color-brand-light);
        background-color: transparent;
        width: 24px;
        height: 24px;
        border: none;

        @media screen and (min-width: $bp-tablet) {
            display: none;
        }
    }
}