.hero-section {
    padding: 100px 20px;
    overflow: hidden;
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
        padding: 123px 0 127px 106px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $bp-tablet) {
            align-items: flex-start;
        }
    }

    &__text {
        margin: 0;
        font-size: 12px;

        @media screen and (min-width: $bp-tablet) {
                margin-bottom: 16px;
                font-size: 18px;
            }
    }

    &__title {
        width: 330px;
        padding: 0;
        color: var(--color-brand);
        font-family: Play;
        font-weight: 700;
        font-size: 54px;
        line-height: 0.8;
        text-transform: capitalize;
        margin-bottom: 32px;

        @media screen and (min-width: $bp-tablet) {
            width: 529px;
            font-size: 140px;
            margin-bottom: 40px;
        }
    }
}