.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: opacity 0.3s, visibility 0.3s;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 720px;
    max-height: 700px;
    padding: 40px 20px;
    background-image: url(../images/modal-decor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-brand-dark);
    border-radius: 32px;
    overflow-y: auto;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
        padding: 42px 144px;
        height: 100%;
    }

    &__close {
        fill: var(--color-brand-light);
        border: none;
        background-color: transparent;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 20px;
        right: 20px;

        @media screen and (min-width: $bp-tablet) {
            top: 40px;
            right: 40px;
        }
    }

    &__title {
        font-family: Play;
        color: var(--color-brand-light);
        font-size: 48px;
        width: 415px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 20px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 64px;
            line-height: 1.2;
            margin-bottom: 40px;
        }
    }

    &__text {
        color: var(--color-brand-light);
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 32px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
        }
    }
}