:root {
  --color-brand: #2b7fff;
  --color-brand-light: #ffffff;
  --color-brand-dark: #011c44;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-brand-dark);
  font-size: 18px;
  line-height: 1.5;
}

.hero-title {
  color: var(--color-brand);
  font-size: 140px;
  font-family: Play;
  font-weight: 700;
  text-transform: capitalize;
}

.icon {
  width: 32px;
  height: 32px;
}

.button-description {
  font-size: 12px;
}

.menu-link {
  font-size: 18px;
  font-family: Roboto;
}

.button {
  color: var(--color-brand-light);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-brand);
  border-radius: 32px;
  border: 2px solid var(--color-brand);
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-brand-dark);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand);
  text-decoration: none;
  font-weight: 700;
}

.section-title {
  font-size: 64px;
  font-family: Play;
  font-weight: 700;
}

.section-title .accent {
  color: var(--color-brand);
  text-transform: capitalize;
}

.section-title span {
  color: var(--color-brand);
}

.section-about-us {
  font-size: 22px;
  line-height: 1.7;
}

.section-about-us span {
  font-weight: 700;
  text-transform: capitalize;
}

.why-us-list {
  border-radius: 32px;
  background-color: var(--color-brand-light);
}

.why-us-icon {
  width: 48px;
  height: 48px;
}

.our-procedures-title {
  color: var(--color-brand-light);
  font-size: 22px;
  line-height: 1.2;
}

.footer-section {
  background-color: var(--color-brand-dark);
}

.footer-link {
  color: var(--color-brand-light);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

.address-link {
  color: var(--color-brand-light);
  text-decoration: none;
  font-style: normal;
}

.address-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

.copyright {
  color: #747272;
  font-size: 13px;
}
